@*@using Sample.Models.DTO*@


<ul class="grade_link clearfix">

    <li>@Html.ActionLink("Grades", "Index", "Grade", null, new {@class="btn btn-success" })</li>
    
    <li>@Html.ActionLink("1-5", "Grade-1-5-skills", "Grade", null, new { @class = "button-Style grade-5-skills", title = "grade 5" })</li>
    @*<li>@Html.ActionLink("1", "Details", "Grade", new { id = "1" }, new { @class = "button-Style grade-1-skills", title = "grade 1", role = "button" })</li>
    <li>@Html.ActionLink("2", "Details", "Grade", new { id = "2" }, new { @class = "button-Style grade-2-skills", title = "grade 2" })</li>
    <li>@Html.ActionLink("3", "Details", "Grade", new { id = "3" }, new { @class = "button-Style grade-3-skills", title = "grade 3" })</li>
    <li>@Html.ActionLink("4", "Details", "Grade", new { id = "4" }, new { @class = "button-Style grade-4-skills", title = "grade 4" })</li>
    <li>@Html.ActionLink("5", "Details", "Grade", new { id = "5" }, new { @class = "button-Style grade-5-skills", title = "grade 5" })</li>*@
    <li>@Html.ActionLink("6", "Details", "Grade", new { id = "6" }, new { @class = "button-Style grade-6-skills", title = "grade 6" })</li>
    <li>@Html.ActionLink("7", "Details", "Grade", new { id = "7" }, new { @class = "button-Style grade-7-skills", title = "grade 7" })</li>
    <li>@Html.ActionLink("8", "Details", "Grade", new { id = "8" }, new { @class = "button-Style grade-8-skills", title = "grade 8" })</li>
    <li>@Html.ActionLink("9", "Details", "Grade", new { id = "9" }, new { @class = "button-Style grade-9-skills", title = "grade 9" })</li>
    <li>@Html.ActionLink("10-12", "Details", "Grade", new { id = "10" }, new { @class = "button-Style grade-10-skills", title = "10-12 grade " })</li>

</ul>
